.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 30px;
    margin-top: 8px;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top: 20px;
}
.cart-container{
    background: #FF99004D;

}
.cart-container h3{
    text-align: center;
    margin: 28px 0;
}
.calculate-cart{
    padding-left: 10px;
}
.calculate-cart h4{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 25px;
}
.calculate-cart h2{
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 25px;
}