.header{
    background: #1C2B35;
    height: 80px;
    margin: -8px;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
}
.nav-bar{}
.nav-bar a{
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin-left: 40px;
}
.nav-bar a:hover{
    color: #f59300;
}